html,body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  background:rgb(194, 220, 236);
}

:root {
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

.forms {
  box-shadow: var(--shadow);
}

.img {
  width: 100%;
}

.img-landing {
  width: 100%;
}

.navbar {
  height: 3rem;
}

.list-items {
  list-style: none;
  width: 20rem;
  height: 70%;
  padding: 1rem;
  text-align: center;
}

.login-link {
  color:black;
}

.navLink {
  color:black;
  text-decoration: none;
}

.registreForm {
  box-shadow: var(--shadow);
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

@media screen and (min-width:760px) {
  .img-landing {
    width: 70%;
  }
}